Package: base-files
Version: 184-r39541-b85e13d0ef
Depends: libc, netifd, procd, jsonfilter, usign, lede-keyring, fstools, fwtool
Source: package/base-files
License: GPL-2.0
Section: base
Architecture: mipsel_24kc
Installed-Size: 49920
Description:  This package contains a base filesystem and system scripts for OpenWrt.
